<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/headini :: head"></th:block>
</head>
<body>
<div class="container">
<div th:fragment="welc">
<div class="col-md-6 col-md-offset-3 " style="margin-top: 1%;">
<h2 class="text-light bg-dark rounded-pill" align="center">BIENVENIDO A LIBSOFT</h2>
</div>
<img th:src="@{imag/IMG-20160902-WA0016.jpg}" class="prueba img-thumbnail rounded-sm " id="mediana" alt="Responsive image">
<img th:src="@{imag/IMG-20160902-WA0014.jpg}" class="prueba img-thumbnail rounded-sm" id="mediana" alt="Responsive image">
<img th:src="@{imag/IMG-20160902-WA0017.jpg}" class="prueba img-thumbnail rounded-sm" id="mediana" alt="Responsive image">
<img th:src="@{imag/IMG-20160902-WA0015.jpg}" class="prueba img-thumbnail rounded-sm" id="mediana" alt="Responsive image">
</div>
</div>
</body>
</html>