@charset "utf-8";

div.error {
	color: red;
}
.table{
	margin-right: auto;
}

.navbar-logo{
  display: inline-block;
  vertical-align: middle;
  width: 70px;
}
.navbar-logo img{
  display: block;
  width: 45%;
  height: auto;
}
.estilo-2 {
  background: white;
  background-clip: padding-box;
  border-radius: 1em;
}
ul
{
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

.box{
	background-color: gray;
	 justify-content: space-between;
    display:flex;
     margin-right: 80px;
     margin-left:80px;	 
     bottom: 0;
     text-shadow: black;
}
#sesion{
	text-transform: uppercase;
	
}
.pageUp{
	float: right;
}
.pageDown{
	float: right;
}
.botonCerrar{
	float: right;
}
#mediana{
	width: 700px; height: 370px;
	margin: 3%
}
.prueba{
	transition: transform 1s;
}
.prueba:hover{
	transform:scale(1.2);
	

	}
.escalarIMG{
	transition: transform 1s;
}
.escalarIMG:hover{
	transform:scale(1);
}
.InicioSesion {
  background-color: #fafafa;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  /* IMPORTANTE */
  text-align: center;
 justify-content:center;
}
#ingresarBTN{
	
padding-left: 4%;
padding-right: 4%;

}
.contra{
	padding-left: 35%;
	padding-right: 35%;
	align-items: center;
}
.user{
	padding-left: 35%;
	padding-right: 35%;
	align-items: center;
	
}
