<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/headini :: head"></th:block>

</head>
<body>
<div class="container">
<th:block th:include="fragments/cabecera :: header"></th:block>
<th:block th:include="tblProductos :: stock"></th:block>
<th:block th:include="fragments/movimiento :: mov"></th:block>
<th:block th:include="fragments/welcome :: welc"></th:block>
<h1>Hola mundo Empleado</h1>
<th:block th:include="fragments/pie :: pie"></th:block>
</div>
</body>
</html>